.bookCard {
  
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* .imageAndContent {
  display: flex;
  flex-direction: row;
} */

.bookCard__image {
  margin-right: 1rem;
  float: left;
  width: 30%;
  height: auto;
}

@media screen and (min-width: 480px) {

.bookCardContainer {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.titleAndBookPageLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.book--link {
  top: 0;
  right: -1rem;
  font-size: medium;
  color: green;
  transition: 1s;
}

.book--link:hover {
  font-size: large;
}

.bookCard {
  border: 1px solid green;
  min-width: 23rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.imageAndContent {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.book__content {
  position: absolute;
  top: -100%;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: hsl(0, 0%, 0%, 0.2);
  backdrop-filter: blur(50px);
  height: 100%;
  width: 100%;
  transition: top 1s;
  color: white;
  display: flex;
  flex-direction: column;
  visibility: visible;
  justify-content: space-around;
  width: 100%;
}

.bookCard:hover .book__content {
  top: 0;
}

.bookCard__deleteIcon {
  height: 2rem;
}

.bookCard__deleteIcon:hover {
  cursor: pointer;
}

.bookCard__image {
  width: 25rem;
  height: 30rem;
}

.bookStatus {
  margin-left: auto;
  margin-right: auto;
}

.bookCard__button {
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  opacity: 1;
}
}

