.book-page {
    margin: 50px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
}

.book-page a {
    text-decoration: none;
    color: black;
}

.back-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 15px 0px;
    background-color: white;

    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Raleway', sans-serif;
}

.back-button:hover {
    cursor: pointer;
}

.img-and-text {
    display: flex;
    gap: 50px;
}

.book-image {
    width: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.book-text {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.status-loaned {
    color: red;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 2px 2px lightgrey;
} 

.status-available {
    color: green;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 2px 2px lightgrey;
}

.recom-div {
    margin-top: 50px;
}

.recom-all {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.recom-one {
    text-align: center;
    width: 150px;
    font-weight: 600;
}

.recom-one img {
    width: 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}