
/* body {
    padding: 1rem;
} */

.back-button {
    margin-left: 2rem;
}

.edit-button {
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.book-image {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem
}

.book-text {
    margin-left: 2rem;
    margin-right: 2rem;
}

.recom-div {
    margin-left: 2rem;
    /* margin-top: 8rem; */
}

.recom-all {
    display: flex;
    flex-wrap: wrap;
}

.recom-one {
    text-align: center;
    width: 15%;
    font-weight: 600;
    margin-right: 2rem;
}

.recom-one img {
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (min-width: 685px) {

    .book-page {
      margin-right: 2rem;
    }
    .book-image {
      width: 30%;
      float: left;
      margin-left: 2rem;
      margin-right: 2rem
}

.book-text {
    min-width: 500px;
}
   
.recom-div {
    width: 100%;
    /* text-align: center; */
    clear: both;
}

.recom-one  {
    width: 15%;
}

.recom-one img {
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
    
}

@media screen and (min-width: 800px) {
.book-page {
    margin: 50px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
}

.book-page a {
    text-decoration: none;
    color: black;
}

.back-and-edit-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 15px;
}

.edit-button {
    height: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  
    cursor: pointer;
}

.back-button:hover {
    cursor: pointer;
}

.img-and-text {
    display: flex;
    gap: 50px;
}

.book-image {
    width: 30%;
    min-width: 400px;
    height: 700px;
    float: left;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.book-text {
    width: 40%;
    display: flex;
    flex-direction: column;
   
}

.status-loaned {
    color: red;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 2px 2px lightgrey;
} 

.status-available {
    color: green;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 2px 2px lightgrey;
}

/* .recom-div {
    margin-top: 3rem;
    float: unset;
} */

.recom-all {
    display: flex;
    gap: 20px;
}

.recom-one {
    text-align: center;
    width: 20%;
    font-weight: 600;
}

.recom-one img {
    top: 0;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
}