.edit-component {
    width: 35%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.edit-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    border-radius: 8px;
    height: 25px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}