
.form--container {
    border: 1px solid black;
    padding-left: 2rem;
    width: 40rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
}

.form {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10rem;
}

.form--row--container {
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
   height: 5rem;
}

.form--sub--div {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    width: 42%;
}

.specific--form--div {
    display: flex;
    justify-content: space-between;
}

.submit__button {
    width: 100px;
}