
.popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: hsl(0, 0%, 0%, .9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginRegisterWindowContainer {
    margin-top: auto;
    position: absolute;
    color: white;
   /* background-color: black; */
}

