.search-bar {
    width: 70%;
    min-width: 12rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  
    border-radius: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.search-bar input {
    /* width: fit-content; */
    overflow: hidden;
}

input[name="search-input"] {
    border: none;
    outline: none;
}

input[name="search-input"]::placeholder {
    font-family: 'Raleway', sans-serif;
    color: black;
}

.filter-by-genre {
    margin-left: 2rem;
    margin-right: 2rem;
    height: 5rem;
}

.filter-by-genre select {
    padding: 20px;
    border: none;
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  
    border-radius: 10px;
    /* Adds space right of arrow */
    border-right: 16px solid transparent;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

@media screen and (min-width: 480px) {

    .search-and-filter {
        height: 100px;
        width: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter-by-genre {
        margin-top: .5rem;
    }
}