.user-page {
    margin: 50px;
    font-size: 15px;
}

.user-page-text {
    margin-top: 50px;
}

.user-page h2 {
    margin-top: 50px;
}

.loaned-books {
    max-width: 700px;
}

.individual-book {
    display: flex;
    justify-content: space-between;
}

.title-row {
    max-width: 400px;
}